<main><div class="container mt-5 text-center" >
    <h3>URL Shortener</h3>
  <img src="/url.png" style="width:150px;" alt="..." class="mt-5">
    <h3 class="my-3">Success! Please use this link: </h3>
    <a herf="#" class="card-link"> https://getbootstrap.com/docs/5.2/utilities/flex/</a>
  </div></main>

